# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs & data
*.log
*.db
logs.json

# Environment
.env
.env.local
